Repository kod3rsStore/Frontend, pull requests merged in 2020-05, with the labels that each got.

#3 Created the Readme file to the project
  README.md
Labels: frontend

#10 added sign-in sign-up and sign-provider to the project
  .env.example
  .eslintrc.json
  .gitignore
  .prettierrc.json
  package-lock.json
  package.json
  src/config/index.js
  src/server/index.js
  src/server/utils/auth/strategies/basic.js
  src/server/utils/auth/strategies/oauth.js
Labels: SSR-server

#12 added the gitlab-ci.yml file
  .gitignore
  .gitlab-ci.yml
  package.json
Labels: CI / CD

#16 Commit 2 front end
  src/Frontend/.gitignore
  src/Frontend/README.md
  src/Frontend/package-lock.json
  src/Frontend/src/Components/Cart2.js
  src/Frontend/src/Components/Login2.js
  src/Frontend/src/Components/Payment2.js
  src/Frontend/src/Components/ProductDtl.js
  src/Frontend/src/Components/Products2.js
  src/Frontend/src/Components/Products4.js
  src/Frontend/src/Components/User1.js
  src/Frontend/src/Components/User2.js
  src/Frontend/src/Styles/Cart2.css
  src/Frontend/src/Styles/Login2.css
  src/Frontend/src/Styles/Payment2.css
  src/Frontend/src/Styles/ProductDtl.css
  src/Frontend/src/Styles/Products4.css
  src/Frontend/src/Styles/User1.css
  src/Frontend/src/Styles/User2.css
Labels: frontend

#17 tercer commit
  src/Frontend/public/index.html
  src/Frontend/src/App.js
  src/Frontend/src/Components/Atoms/Banner/banner.css
  src/Frontend/src/Components/Atoms/Banner/index.js
  src/Frontend/src/Components/Atoms/Button/button.css
  src/Frontend/src/Components/Atoms/Button/index.js
  src/Frontend/src/Components/Atoms/Spinner/index.js
  src/Frontend/src/Components/Atoms/Spinner/spinner.css
  src/Frontend/src/Components/Home.js
  src/Frontend/src/Components/Menu1.js
  src/Frontend/src/Components/ProductDtl.js
  src/Frontend/src/Styles/Home.css
  src/Frontend/src/Styles/Menu1.css
  src/Frontend/src/Styles/ProductDtl.css
Labels: frontend

#24 [add] featured product card
  src/Frontend/src/App.js
  src/Frontend/src/Components/featuredProductCard.jsx
  src/Frontend/src/Styles/components/featuredProductCard.css
Labels: frontend

#25 Add latest products at home
  src/Frontend/src/Components/Home.js
  src/Frontend/src/Components/featuredProductCard.jsx
  src/Frontend/src/Containers/listProducts.jsx
  src/Frontend/src/Styles/components/listProducts.css
  src/Frontend/src/Styles/components/media.css
  src/Frontend/src/Styles/components/productCardList.css
Labels: frontend

#26 Connect api
  src/Frontend/src/Components/Home.js
  src/Frontend/src/Components/featuredProductCard.jsx
  src/Frontend/src/Components/productCardList.jsx
  src/Frontend/src/Containers/listProducts.jsx
  src/Frontend/src/Styles/components/featuredProductCard.css
  src/Frontend/src/Styles/components/media.css
  src/Frontend/src/Styles/components/productCardList.css
Labels: frontend

#28 add stripe payment to the project
  package.json
  src/payments/index.html
  src/payments/logo192.png
  src/payments/main.css
  src/server/index.js
Labels: frontend

#33 create endpoints in ssr server
  src/server/index.js
  src/server/routes/addressesAPI.js
  src/server/routes/categoriesAPI.js
  src/server/routes/productsAPI.js
  src/server/routes/shopCartAPI.js
  src/server/routes/userAPI.js
Labels: frontend

#34 Burger Menu
  src/Frontend/src/Components/Header.js
  src/Frontend/src/Components/Modal/Modal.css
  src/Frontend/src/Components/Modal/Modal.js
  src/Frontend/src/Styles/Header.css
Labels: frontend

#35 Create flow searche product by name
  src/Frontend/src/App.js
  src/Frontend/src/Components/Header.js
  src/Frontend/src/Components/Home.js
  src/Frontend/src/Components/ProductDtl.js
  src/Frontend/src/Components/Products2.jsx
  src/Frontend/src/Components/SearchBar.jsx
  src/Frontend/src/Components/productCardList.jsx
  src/Frontend/src/Components/productCardListSearch.jsx
  src/Frontend/src/Styles/Home.css
  src/Frontend/src/Styles/Products2.css
  src/Frontend/src/Styles/components/SearchBar.css
  src/Frontend/src/Styles/components/cardProductsSearch.css
Labels: frontend

#37 organize the ssr server files
  src/server/.env.example
  src/server/config/index.js
  src/server/index.js
  src/server/package-lock.json
  src/server/package.json
  src/server/routes/addressesAPI.js
  src/server/routes/categoriesAPI.js
  src/server/routes/productsAPI.js
  src/server/routes/shopCartAPI.js
  src/server/routes/userAPI.js
  src/server/utils/auth/strategies/basic.js
  src/server/utils/auth/strategies/oauth.js
Labels: frontend

#40 fixed google authentication
  README.md
  src/SSR-server/.env.example
  src/SSR-server/config/index.js
  src/SSR-server/index.js
  src/SSR-server/package-lock.json
  src/SSR-server/package.json
  src/SSR-server/routes/addressesAPI.js
  src/SSR-server/routes/categoriesAPI.js
  src/SSR-server/routes/productsAPI.js
  src/SSR-server/routes/shopCartAPI.js
  src/SSR-server/routes/userAPI.js
  src/SSR-server/utils/auth/strategies/basic.js
  src/SSR-server/utils/auth/strategies/google.js
  src/SSR-server/utils/auth/strategies/oauth.js
Labels: SSR-server

#43 correct data from google
  src/SSR-server/index.js
Labels: SSR-server

#44 [Add] redux, create shopping cart logic
  src/Frontend/package-lock.json
  src/Frontend/package.json
  src/Frontend/src/App.js
  src/Frontend/src/Components/Cart2.js
  src/Frontend/src/Components/CartProductCard.jsx
  src/Frontend/src/Components/Header.jsx
  src/Frontend/src/Components/Home.js
  src/Frontend/src/Components/ProductDtl.js
  src/Frontend/src/Components/Products2.jsx
  src/Frontend/src/Components/SearchBar.jsx
  src/Frontend/src/Components/featuredProductCard.jsx
  src/Frontend/src/Components/productCardList.jsx
  src/Frontend/src/Components/productCardListSearch.jsx
  src/Frontend/src/Components/productDetailCard.jsx
  src/Frontend/src/Containers/shoppingCart.jsx
  src/Frontend/src/Styles/Cart2.css
  src/Frontend/src/Styles/Header.css
  src/Frontend/src/Styles/Home.css
  src/Frontend/src/Styles/components/SearchBar.css
  src/Frontend/src/Styles/components/cartProductCard.css
  src/Frontend/src/actions/index.js
  src/Frontend/src/index.js
  src/Frontend/src/reducers/index.js
Labels: frontend
